BACKEND_HOST_PORT=8081
REDIS_HOST_PORT=6379
POSTGRES_DB=homerun
POSTGRES_USER=homerun_user
POSTGRES_PASSWORD=change-this-password
SSAFY_API_KEY=
SSAFY_ACCOUNT_TYPE_UNIQUE_NO=
KIS_APP_KEY=
KIS_APP_SECRET=
PUBLIC_DATA_SERVICE_KEY=
NAVER_GEOCODING_CLIENT_ID=
NAVER_GEOCODING_CLIENT_SECRET=
SPRING_JPA_HIBERNATE_DDL_AUTO=update
REAL_ESTATE_IMPORT_ENABLED=false
REAL_ESTATE_IMPORT_REGIONS=SEOUL,GWANGJU
REAL_ESTATE_IMPORT_FROM_YEAR_MONTH=2025-04
REAL_ESTATE_IMPORT_TO_YEAR_MONTH=2026-03
REAL_ESTATE_IMPORT_DATASET_TYPES=APT_SALE
